<div class="container">
  <form [formGroup] ="forma" (ngSubmit)="guardar()">
    <div class="row">
      <div class="texto">
        <label for="fname" class="lbl">Nombre</label>
      </div>
      <div>
        <input type="text"
               name="fname" 
               id=""
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
               <small class="text-danger" *ngIf="nombreNoValido">maximo 10 caracteres</small>
               <small class="text-danger" *ngIf="NombreNoZaida">El nombre zaida tiene una multa no puede ingresar</small>
               <small class="text-danger" *ngIf="NombreNoEveneser">El nombre eveneser tiene una multa no puede ingresar</small>
      </div>
    </div>

    <div class="row">
      <div class="texto">
        <label for="fLastname" class="lbl">Apellidos</label>
      </div>
      <div>
        <input type="text"
               name="fLastname" 
               id=""
               formControlName="apellido">
               <small class="text-danger" *ngIf="apellidoNoValido">maximo 10 caracteres</small>
               <small class="text-danger" *ngIf="ApellidoNoFarella">El apellido farella tiene una multa no puede ingresar</small>
               <small class="text-danger" *ngIf="ApellidoNoMeleneses">El apellido meleneses tiene una multa no puede ingresar</small>
               <small class="text-danger" *ngIf="ApellidoNoPrieto">El apellido prieto tiene una multa no puede ingresar</small>
      </div>
    </div>

    <div class="row">
      <div class="texto">
        <label for="dateEdad" class="lbl">Edad</label>
      </div>
      <div>
        <input type="date"
               name="dateEdad" 
               id=""
               formControlName="edad">
      </div>

      <span>{{CalculateAge}}</span>
    </div>

    <div class="row">
      <div class="alineabtn">
        <button type="submit" [disabled]="forma.invalid">Guardar</button>
      </div>
    </div>

    <div class="row">
      <div class="alineabtn">
        <button type="button" (click)="limpiar()">limpiar</button>
      </div>
    </div>
  </form>
</div>






<hr>
<pre>
  estado del formulario : {{forma.valid}}
  <br>
  status: {{forma.status}}
</pre>

<pre>
  {{forma.value | json }}
</pre>